<body>
  
        <div class="register-page">
        
            <img class="logo" src="../../assets/ERP logo.png">
        
            <div class="form">
        
              <p class="registertext">REGISTER</p>
        
              <hr>
                      
              <form class="register-form" name="form" method="POST" #formData="ngForm" (ngSubmit)="onSubmit(formData)">
        
                  <div class="form-group">
                    
                    <input [(ngModel)]="email" type="email" name="email" id="email" class="form-control" placeholder=" " required/>
                    <label class="form-control-placeholder" for="email">Email</label>
                  </div>

                  <div class="form-group">
                    
                        <input [(ngModel)]="email2" type="email" name="email2" id="email2" class="form-control" placeholder=" " required/>
                        <label class="form-control-placeholder" for="email2">Repeat email</label>
                      </div>
        
        
                  <div class="form-group">
                    <input  name="pass" id="pass" type="password" class="form-control" placeholder=" " required/>
                    <label class="form-control-placeholder" for="pass">Password</label>
                </div>
                <button type="submit" [disabled]="formData.form.invalid">GO</button>
        
        
              </form>
        
          
        
            </div>
        
            <p class="accountext" routerLink="/login">Already have an account? Log in!</p>
        
          </div>
        
        
        
          
        
        </body>
