<html>
<body>

  <div class="div-home">

    <p class="pagename">HOME</p>
    <hr>

    <div class="button-wrapper">
    <div class="my-div-home-item" routerLink="/orders">
      <i class="material-icons" id="menuicon">shopping_cart</i>
      <hr>
      <p class="my-div-home-item-text">Orders</p>
    </div>

    <div class="my-div-home-item" routerLink="/products">
      <i class="material-icons" id="menuicon">ballot</i>
      <hr>
      <p class="my-div-home-item-text">Products</p>
    </div>

    <div class="my-div-home-item">
      <i class="material-icons" id="menuicon">assessment</i>
      <hr>
      <p class="my-div-home-item-text">Profit chart</p>
    </div>
  </div>

  </div>

</body>
</html>